<% provide(:title, "Home") %>
<div class="container-fluid">
    <div class="jumbotron">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <h1>The Porfolio App</h1>
                <p>make your portfolio page without coding!</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-md-3">
            <a href="#" class="thumbnail">
                <img src="http://lorempixel.com/300/300/" class="img-responsive"/>
                <h2>Company Analysis</h2>
                <p>We will work with you to fully understand your business and your target audience to inform our marketing strategy.</p>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="thumbnail">
                <img src="http://lorempixel.com/300/300/" class="img-responsive"/>
                <h2>Strategy Planning</h2>
                <p>Using the outcomes from the Company Analysis, we will put together a plan for the most effective marketing strategy to get the best results for your business</p>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="thumbnail">
                <img src="http://lorempixel.com/300/300/" class="img-responsive"/>
                <h2>Brand Creation</h2>
                <p>We can create a brand that stands out and truly reflects your business and the message you want to convey.</p>
            </a>
        </div>
         <div class="col-md-3">
            <a href="#" class="thumbnail">
                <img src="http://lorempixel.com/300/300/" class="img-responsive"/>
                <h2>Style Guides</h2>
                <p>We will put together a detailed and specific style guide that covers all areas of your brand to ensure that anything produced in the future is on brand.</p>
            </a>
        </div>
    </div>
</div>

